@mixin base-font ($color: rgb(59, 59, 59)){
    font-family: "Raleway", sans-serif;
    color: $color;
}
@mixin font($font-color, $font-size, $font-weight, $font-linehight){
    @include base-font($font-color);
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $font-linehight;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
}
@mixin flex-between-center {
    @include flex-between();
    align-items: center;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin main-container {
    max-width: 1170px;
    margin: auto;
}
@mixin submit_btn {
    @include font($white, pxToRem(24), 900, pxToRem(28.18));
    text-transform: uppercase;
    width: pxToRem(370);
    height: pxToRem(80);
    background-color: $red;
}
@function pxToRem($font-size-px) {
    @return $font-size-px / $default-fontsize-px * 1rem;    
}
