* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
}
 @import '../scss/variables';
 @import '../scss/cdn';
 @import '../scss/mixins';
 @import '../scss/header.scss';
 @import '../scss/team.scss';

html {
    @include base-font;
}